    body{
	background-color: #EFF0F4;
    margin-left: 0;
    margin-right: 0; 
    }
	div.head{
		margin-top: 0;
		background-color: #68cdd5;
		height: 45px;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    div.head a{
        text-decoration: none;
        color: white;
    }
    a.left{
        margin-left: 5px;
    }
    a.right{
        margin-right: 5px;
    }
    div.input{
        margin-top: 10px;
        background-color: white;
    }
	input.account, input.pwd{
        outline:none;
        font-size: 1em;
        height: 60px;
        padding-left: 80px;
        border:none;
        margin-top: 10px;
	}
    form i{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        margin-top: 10px;
        width: 80px;
        height: 62px;
    }
    .iconact{
        position: absolute;
        background-image: url(./images/phone.png);
    }
    .iconpwd{
        position: absolute;
        background-image: url(./images/pwd.png);
    }
	.foot{
		background-color: #68cdd5;
		margin-top: 60px;
		height: 60px;
		font-weight: bold;
		font-size: 1.1em;
		color: white;
		line-height: 60px;
		text-align: center;
	}
    .but{
        background-color: #68cdd5;
        outline: none;
        border: 0;
        width: 100vw;
        height: 60px;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
     }
    div.but{
        margin-top: 30px;
    }
    footer a{
        text-decoration: none;
        float: right;
        padding-top: 20px;
    }