		
		body{
			margin-left: 0;
			margin-right: 0;
		}
		header.top{
			position: fixed;
			top: 0;
			width: 100vw;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			background-color: #68cdd5;
		}
		div.center{
			margin: 0 auto;
			line-height: 45px;
			background-color: #55a8b3;
			border-radius: 10px;
		}
		div.left,div.right{
			display: inline-block;
			text-align: center;
			border-radius: 5px;
			font-weight: bold;
			width: 70px;
		}
		div.left{
			color: white;

		}
		div.right{
			background-color: white;
			color: #68cdd5;
		}
		.dgps_icon,.edit_icon,.rili_icon,.gps_icon{
			display: inline-block;
			background: url(./images/spr_t6.png);
		}
		.dgps_icon{
			position: fixed;
			right: 5px;
			transform: scale(0.7,0.7);
			width: 42px;
			height: 44px;
			background-position: -44px -171px;
		}
		.edit_icon{
			width: 93px;
			height:94px;
			background-position:0px 0px;
			transform:scale(0.6,0.6);	
		}
		.rili_icon{
			width: 24px;
			height: 24px;
			margin-right:10px;
			background-position: -95px 0px;
		}
		.gps_icon{
			width: 19px;
			height: 23px;
			margin-right:15px;
			background-position: -95px -26px; 
		}
		main{
			margin-top: 50px;
			overflow: scroll;
		}
		div.box{
			padding: 15px 3vw;
			border-bottom:#e1e5e7 solid 1px;
			background-color: #ffffff;
		}
		div.boxend{
			margin-bottom: 100px;
		}
		div.box>div{
			display: flex;
			align-items: center;
			height: 2em;
		}
		div.date,div.location{
			color: #C0C0C0;
		}
		div.content{
			padding-left: 34px;
			white-space: nowrap;
		}
		div.content>div{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		div.content>img{
			margin-left: 0.8em;
		}
		div.location{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		div.content>.side{
			margin-left: auto;
			display: inline-block;
			color: red;
		}
		.list{
			height: 50px;
			background:	#C0C0C0;
		}
		footer{
			position: fixed;
			bottom: 0;
			display: flex;
			width: 100%;
			border-top: 1px solid #e2eaec;
			justify-content: center;
			align-items: center;
			background-color: #f8fafb;
		}
		footer div.ftcenter{
			margin:5px 15vw;
		}
		footer>div{
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		footer div span{
			margin-top: 0.3em;
		}
		span.shouye{
			color: #5fc0cd;
		}